:root {
  --off-white: rgb(240, 240, 240);
  --color-quaternary: rgba(63, 75, 59, 1);
  --color-tertiary: rgba(68, 99, 63, 1);
  --color-secondary: rgba(86, 117, 104, 1);
  --color-primary: rgba(90, 147, 103, 1);
  --color-accent: rgb(82, 146, 206);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --off-white: rgb(74, 74, 74);
  }
} */

.page-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--off-white);
}

.center {
  text-align: center;
}

.loader {
  z-index: 1000;
}

canvas {
  -webkit-transform3d: translate(0, 0, 0);
  -moz-transform3d: translate(0, 0, 0);
  transform3d: translate(0, 0, 0);
}
